# Obsidian system files
.obsidian/cache
.obsidian/workspace
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/plugins/
.obsidian/snippets/

# System files
.DS_Store
Thumbs.db

# Backup & temp files
*.swp
*.tmp
*.bak
